<!-- <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
  <div class="regForm">
    <label>
      Name:
      <input formControlName="name" class="formInput" placeholder="Enter Your name">
    </label>
  </div>
  <div class="regForm">
    <label>
      Email:
      <input formControlName="email" class="formInput" placeholder="Enter Your email" >
    </label>
  </div>
  <div class="regForm">
    <label>
      Course:
      <input formControlName="course" class="formInput" placeholder="Enter Your message">
    </label>
  </div>
  <div class="regForm">
    <label>
     Year:
      <input formControlName="year" class="formInput" placeholder="Enter Your message">
    </label>
  </div>
  <div class="regForm">
    <label>
     Date of joining:
      <input type="date" formControlName="date" class="formInput" placeholder="Enter Your message">
    </label>
  </div>
  <div class="regForm">
    <label>
     Score:
      <input formControlName="score" class="formInput" placeholder="Enter Your message">
    </label>
  </div>
  <div class="regForm">
    <label>
     Choose File:
      <input type="file" formControlName="file" class="formInputFile" (change)="onChange($event)" #fileUpload />
    </label>
  </div>
  <div id="imagePreview">
    <img [src]="imageSrc" alt="your image" class="imagePreview" *ngIf="imageSrc" />
  </div>
  <button class="mybutton" type="submit">Save</button>
</form> -->


<router-outlet></router-outlet>