<div class="container">
  <div class="DIV-header">
    <div class="header"><i class="fas fa-list"></i> My Todo List </div>
  </div>
  <form (ngSubmit)="addTodo()">
    <input type="text" name="task" [(ngModel)]="task" placeholder="Task to do" class="form-control" />
    &nbsp;
    <input type="text" name="description" [(ngModel)]="description" placeholder="Description" class="form-control" />
    &nbsp;
    <input type="date" name="date" [(ngModel)]="date" placeholder="date" class="form-control" />

    <!-- <button class="savebtn" type="submit">Save</button> -->
    <button type="submit" class="btn btn-primary savebtn">Save</button>
  </form>
  <br /><br />
  <hr />
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">S/No.</th>
        <th scope="col">Task</th>
        <th scope="col">Description</th>
        <th scope="col">Date</th>
        <th scope="col" colspan="2" class="action">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of todo; let i = index">
        <td class="serial">{{ i + 1 }}</td>
        <td class="task">{{ data.task }}</td>
        <td class="description">{{ data.description }}</td>
        <td class="date">{{ data.date | date: 'dd-MM-yyyy' }}</td>
        <td class="edit">
          <!-- <button class="editbtn" (click)="editTodo(i)">Edit</button> -->
          <button type="button" class="btn btn-primary editbtn" (click)="editTodo(i)"><i
              class="fas fa-edit"></i></button>
        </td>
        <td class="delete">
          <button type="button" class="btn btn-danger deletebtn" (click)="deleteTodo(i)"> <i
              class="fas fa-trash-alt"></i></button>
        </td>
      </tr>
    </tbody>
  </table>


</div>