table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px 20px 10px 20px;
}
th {
  background-color: #0066ffad;
}
.deletebtn {
  cursor: pointer;
}
.editbtn {
  margin-right: 10px;
}
/* .container{
  margin: 20px;
} */
.savebtn {
  cursor: pointer;
  margin-top: 15px;
}

.serial {
  width: 8%;
}
.task {
  width: 30%;
}
.description {
  width: 30%;
}
.date {
  width: 20%;
}
.delete {
  width: 5%;
}
.edit {
  width: 5%;
}
.accordion {
  width: 2% !important;
  padding: 0;
}
.action {
  text-align: center;
}
.taskInput {
  width: 50% !important;
}
.additionalBtnUpdate {
  margin-top: 10px;
  float: right;
}
.additionalBtn {
  margin-right: 5px;
  margin-top: 10px;
  float: right;
}
.container {
  margin-top: 35px;
  margin-bottom: 50px;
}
.DIV-header {
  margin-bottom: 12px;
  width: 50%;
  background-color: #0066ffad;
  padding: 10px;
}
.header {
  font-size: large;
  font-weight: bold;
  color: white;
}
#additionalDetails {
  width: 100% !important;
}

@media screen and (max-width: 768px) {
  .table-container {
    overflow-x: auto;
  }
  .taskInput {
    width: 100% !important;
  }
  .DIV-header {
    width: 100%;
  }
}
